@font-face {
    font-family: Avenir;
    src: url("https://pierce.is-serious.business/7k4cb81.ttf");
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #191E22;
    margin: 0;
}

.container {
    height: 100%;
    z-index: 1;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textArea {
    margin-left: 20px;
    width: 70%;
}

.checkbox {
    margin-top: 10px;
    margin-left: 10px;
}

.checkbox-text {
    font-size: 15px;
    margin-left: 90px;
    font-family: Avenir, serif;
    color: #808184;
}

.text {
    margin-bottom: 6px;
    font-size: 17px;
    font-family: Avenir, serif;
    color: #A3A7AA;
}

.titleBar {
    -webkit-app-region: drag;
    height: 20px;
    background-color: #131415;
}

h2 {
    margin-top: 20%;
    margin-bottom: 9px;
    font-size: 17px;
    text-align: center;
    font-family: Avenir, serif;
    color: #A3A7AA;
}

.box {
    border-radius: 4px;
    height: 35px;
    font-size: 18px;
    box-shadow: none;
    border: 1px solid #3c93ff ;
    width: 295px;
    margin-bottom: 10px;
    background-color: #1E272C;
    color: #BABAB8;
    padding-left: 10px;
}

.box:focus, button {
    outline: none;
}

.versionBox {
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #3c93ff ;
    width: 100px;
    margin-bottom: 10px;
    background-color: #1E272C;
    color: #BABAB8;
    padding-left: 10px;
}

.disabled {
    pointer-events: none;
    opacity: .3;
}

.backdrop {
    background-color: #000000;
    opacity: .5;
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.login-button > button {
    color: #3c93ff;
    background-color: #191E22;
    margin-top: 20px;
    padding-left: 10px;
    margin-left: 20px;
    border: 1px solid #3c93ff;
    border-radius: 24px;
    width: 25%;
    height: 44px;
    transition: opacity .5s;
}

.login-button {
    text-align: center;
    margin-left: 30%;

}

.login-button > button:hover {
    opacity: 0.5;
}

.EM {
    margin-top: 50%;
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.EM-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 15px;
}

.close {
    width: 10px;
    float: right;
}

.look {
    margin-top: 50%;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    margin-bottom: 9px;
    font-size: 17px;
    text-align: center;
    font-family: Avenir, serif;
    color: #A3A7AA;
    display: none;
}
